[submodule "back"]
	path = back
	url = https://github.com/Full-Life-Alyx/rcdoc-backend.git
[submodule "front"]
	path = front
	url = https://github.com/Full-Life-Alyx/rcdoc-frontend.git
[submodule "rcdoc-frontend"]
	path = rcdoc-frontend
	url = https://github.com/Full-Life-Alyx/rcdoc-frontend
